.display-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.display-card {
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 16px;

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.15),
        inset 0 1px 0 rgba(255, 255, 255, 0.4);

    color: white;
}

.anomaly-section {
    padding: 0 20px;
    text-align: left;
}

.anomaly-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.anomaly-row p {
    font-size: 22px;
    font-weight: bold;
}

.population-section {
    padding-right: 18px;
    margin-left: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-bottom: 22px;
    padding-top: 22px;
}

.population-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.population-row h3 {
    margin: 0;
}

.population-row strong {
    font-size: 22px;
    font-weight: bold;
}

.species-name {
    cursor: pointer;
    transition: all 0.25s ease;
}

.species-name:hover {
    color: #B3E5FC;

    transform: translateX(4px);
}

@keyframes greenBlink {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 0 10px rgb(62, 224, 148);
    }
}

@keyframes yellowBlink {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 0 10px rgb(250, 211, 16);
    }
}

@keyframes redBlink {

    0%,
    100% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 0 10px rgb(232, 75, 94);
    }
}

.blinking-green {
    animation: greenBlink 1s infinite;
    animation-play-state: paused;
}

.blinking-yellow {
    animation: yellowBlink 1s infinite;
    animation-play-state: paused;
}

.blinking-red {
    animation: redBlink 1s infinite;
    animation-play-state: paused;
}

.blinking-active {
    animation-play-state: running;
}