.slider-panel {
    padding-top: 1px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 16px;

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.15),
        inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.slider-panel h3 {
    color: white;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.population-slider {
    width: 96%;
    appearance: none;
    height: 8px;
    border-radius: 99px;
    background: #B3E5FC;
    outline: none;
}

.population-slider::-webkit-slider-thumb {
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.799);
    cursor: pointer;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: white;
    padding-top: 8px;
}